<!--================Welcome Area =================-->
<section class="welcome_area p_120">
  <div class="container">
    <div class="row welcome_inner">
      <div class="col-lg-6">
        <div class="welcome_text">
          <h4>About Myself</h4>
          <p>{{ index_myself_welcome_area }}</p>

          <div class="row">
            <div class="col-md-4">
              <div class="wel_item">
                <i class="lnr lnr-database"></i>
                <h4>{{ base_welcome_area_total_followers }}</h4>
                <p>Total Followers</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="wel_item">
                <i class="lnr lnr-book"></i>
                <h4>{{ base_welcome_area_total_projects }}</h4>
                <p>Total Projects</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="wel_item">
                <i class="lnr lnr-users"></i>
                <h4>{{ base_welcome_area_total_volunteers }}</h4>
                <p>Total Volunteers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tools_expert">
          <div class="skill_main">
            <div class="skill_item">
              <h4>HTML <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>CSS <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>Javascript <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>Python <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>React <span class="counter">85</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>Flutter <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>Django <span class="counter">90</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>ASP.NET Core <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>PostgreSQL <span class="counter">70</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="70"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>GeoServer <span class="counter">95</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="95"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>AWS <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>Docker <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>OpenLayers <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>Leaflet <span class="counter">75</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="skill_item">
              <h4>SeçGEO Apps <span class="counter">100</span>%</h4>
              <div class="progress_br">
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Welcome Area =================-->
