{% load static %}

   <!--================Home Banner Area =================-->
        <section class="home_banner_area">
           	<div class="container box_1620">
           		<div class="banner_inner d-flex align-items-center">
					<div class="banner_content">
						<div class="media">
							<div class="d-flex">
								<img src=" {% static "secapp/img/secgeo_team.jpg" %} " alt="">
							</div>
							<div class="media-body">
								<div class="personal_text">
									<h6>Hello Everybody, i am</h6>
									<h3>Hamdi Seçilmiş</h3>
									<h4>Start-up Founder</h4>
									<p>I am an entrepreneurial engineer developing software projects in the private sector.</p>
									<ul class="list basic_info">
										<li><a href="#"><i class="lnr lnr-calendar-full"></i> 30st May, 1980</a></li>
										<li><a href="#"><i class="lnr lnr-phone-handset"></i> 90 (531) 994 75 68</a></li>
										<li><a href="#"><i class="lnr lnr-envelope"></i> secgeo.muhendislik@gmail.com</a></li>
										<li><a href="#"><i class="lnr lnr-home"></i> Aksaray / Türkiye</a></li>
									</ul>
									<ul class="list personal_social">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->