     {% load static %}  

        <!--================Scripts Area =================-->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static "secapp/js/jquery-3.3.1.min.js" %} "></script>
        <script src="{% static "secapp/js/popper.js" %} "></script>
        <script src="{% static "secapp/js/bootstrap.min.js" %} "></script>
        <script src="{% static "secapp/js/stellar.js" %}"></script>
        <script src="{% static "secapp/vendors/lightbox/simpleLightbox.min.js" %}"></script>
        <script src="{% static "secapp/vendors/nice-select/js/jquery.nice-select.min.js" %}"></script>
        <script src="{% static "secapp/vendors/isotope/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "secapp/vendors/isotope/isotope.pkgd.min.js" %}"></script>
        <script src="{% static "secapp/vendors/owl-carousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "secapp/vendors/popup/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "secapp/js/jquery.ajaxchimp.min.js" %}"></script>
        <script src="{% static "secapp/vendors/counter-up/jquery.waypoints.min.js" %}"></script>
        <script src="{% static "secapp/vendors/counter-up/jquery.counterup.min.js" %}"></script>
        <script src="{% static "secapp/js/mail-script.js" %}"></script>
        <script src="{% static "secapp/js/theme.js" %}"></script>