<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}{% endblock title %} 
    
    {% block css_files %}{% endblock css_files %}

    <!--================Head Area =================-->
    {% include "includes/base_head.html"  %}
    <!--================Head Area =================-->
  </head>
  <body>
    <!--================Header Menu Area =================-->
    {% include "includes/base_header.html"  %}
    <!--================Header Menu Area =================-->

    
    {% block content %} {% endblock content %}


    <!--================Footer Area =================-->
    {% include "includes/base_footer.html" %}
    <!--================End Footer Area =================-->
    
  </body>
</html>
