{% extends "base.html" %}
{% load static %}

{% block title %}Ana Sayfa{% endblock title %}
{% block css_files %}
    <link rel="stylesheet" href="{% static 'secapp/index.css' %}">
{% endblock css_files %}

{% block content %}

        <div class="row">
            <div class="myHeader">
            <h1>SeçAPP</h1>
            
            </div>
        </div>
          <p>
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
              fugit et, omnis mollitia reprehenderit maxime maiores quibusdam
              nulla molestiae laudantium nesciunt eveniet pariatur sapiente
              assumenda porro. Reiciendis mollitia accusantium dolore! Dolorem
              similique quam cumque aperiam ducimus odit pariatur ipsa
              praesentium quaerat dolor cupiditate, iusto ad qui laboriosam illo
              ut alias cum? Ipsum illum vitae laborum. Aperiam impedit fuga
              repudiandae nobis. Saepe incidunt beatae dignissimos excepturi
              dicta sunt necessitatibus dolorum quis, vitae voluptas delectus
              enim repudiandae earum consequuntur unde blanditiis eos molestiae
              provident natus. Nisi quas dolorum officia minima quos eligendi?
              Repellendus tempore obcaecati enim maxime, voluptatem, vitae nihil
              debitis ipsum maiores optio voluptate quam ab? Fuga officiis, a
              libero omnis voluptatem quod aliquam veniam ex aut tempora
              asperiores temporibus minus. Quisquam ipsa numquam voluptates
              laudantium facere rem iste nemo beatae. Tempora voluptatum dolor,
              porro vel, placeat laboriosam ipsam eius sint sed ea reiciendis!
              Eaque accusamus tempore optio numquam architecto assumenda.
              Aspernatur omnis doloremque sunt quibusdam sit, quas voluptates
              cum consequuntur beatae. Deleniti adipisci necessitatibus commodi
              animi placeat ex ipsa dignissimos sit repellendus, odio deserunt
              similique exercitationem unde, culpa repudiandae nemo. Recusandae
              placeat tempore ex voluptas hic rerum laudantium autem? Nobis ab
              est sint distinctio, saepe magni, at ullam dignissimos praesentium
              voluptatum accusamus debitis commodi quas? Aut laboriosam itaque
              repellendus quos? Mollitia inventore quas accusantium, assumenda
              nulla eveniet voluptatem ad fuga id veritatis maxime iste
              laboriosam? Earum, voluptatibus eum cupiditate dolores provident
              ullam beatae mollitia ab veniam non est numquam harum. Excepturi,
              incidunt vel? Omnis commodi autem amet velit, quae sapiente
              suscipit tempora ipsa exercitationem veniam porro excepturi est
              iusto non dolorum esse, fugiat quod? Nisi dicta optio
              exercitationem et minus! Fuga voluptates alias nobis velit harum
              reprehenderit reiciendis numquam eaque vero quae consectetur,
              exercitationem ipsum minima inventore placeat hic est error
              molestias quod ducimus. Ratione, eos? Voluptatum et hic quo.
            </span>
          </p>      
          <div class="card" style="width: 18rem">
           <!--<img src="{% get_media_prefix %}images/secgeo_team.jpg" class="card-img-top" alt="..." /> --> 
            <img src="{% static "secapp/images/secgeo_team.jpg" %}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card’s content.
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>    
   

{% endblock content %}